<a href="https://colab.research.google.com/github/PraveenPrabhat125/Python-for-Data-Analyst/blob/main/Python_for_data_analyst_List_tuples_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## List
A list is a mutable, ordered collection of objects. "Mutable" means a list can be altered after it is created. You can, for example, add new items to a list or remove existing items. Lists are heterogeneous, meaning they can hold objects of different types.

Construct a list with a comma separated sequence of objects within square brackets:

In [3]:
My_list = [1,2, 'Hello', '1', True]
My_list

[1, 2, 'Hello', '1', True]

In [5]:
sec_list = list('No Data Science')
print(sec_list)

['N', 'o', ' ', 'D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e']

In [10]:
# emplty list
l1 = []
print(l1)

[]

In [11]:
l2 = "Append string"
l1.append(l2)
print(l1)
print(l2)

['Append string']
Append string

Remove a matching item from a list with list.remove():

In [18]:
My_list.append('Lamborgini')
print(My_list)

print(My_list)
My_list.remove('Lamborgini')

[2, 'Hello', '1', 'Lamborgini', 'Lamborgini', 'Lamborgini', 'Lamborgini']
[2, 'Hello', '1', 'Lamborgini', 'Lamborgini', 'Lamborgini', 'Lamborgini']

In [20]:
My_list.remove('Lamborgini')
My_list

[2, 'Hello', '1', 'Lamborgini']

In [28]:
x = [1,2,3,4,5, "Hello", 'World']
y = ['New', 'list']

In [29]:
print(x)
print(y)

z =  x + y
print(z)

x.append(z)
print(x)

[1, 2, 3, 4, 5, 'Hello', 'World']
['New', 'list']
[1, 2, 3, 4, 5, 'Hello', 'World', 'New', 'list']
[1, 2, 3, 4, 5, 'Hello', 'World', [1, 2, 3, 4, 5, 'Hello', 'World', 'New', 'list']]

Check the length, maximum, minimum and sum of a list with the len(), max(), min() and sum() functions, respectively.

In [30]:
num_list = [1,2,3,4,5]
print( len(num_list))                # Check the length
print( max(num_list))                # Check the max
print( min(num_list))                # Check the min
print( sum(num_list))                # Check the sum
print( sum(num_list)/len(num_list))  # Check the mean*

5
5
1
15
3.0

Note: Python does not have a built in function to calculate the mean, but the numpy library we will introduce in upcoming lessons does.

You can check whether a list contains a certain object with the "in" keyword:

In [33]:
num_list.append(1)
print(num_list)
1 in num_list

[1, 2, 3, 4, 5, 1, 1]

True

In [34]:
1 not in num_list

False

In [35]:
num_list.count(1)

3

### REverse and sort the list

In [45]:
new_list = [1, 5, 4, 2, 3, 6]      # Make a new list

xx = new_list.reverse()               # Reverse the list
print("Reversed list", xx)

yy = new_list.sort()                    # Sort the list
print("Sorted list", yy)

type(xx)
type(yy)

Reversed list None
Sorted list None

NoneType

In [48]:
new_list = [1, 5, 4, 2, 3, 6]      # Make a new list

new_list.reverse()                 # Reverse the list
print("Reversed list", new_list)

new_list.sort()                    # Sort the list
print("Sorted list", new_list)

Reversed list [6, 3, 2, 4, 5, 1]
Sorted list [1, 2, 3, 4, 5, 6]

## List Indexing and Slicing
Lists and other Python sequences are indexed, meaning each position in the sequence has a corresponding number called the index that you can use to look up the value at that position. Python sequences are zero-indexed, so the first element of a sequence is at index position zero, the second element is at index 1 and so on. Retrieve an item from a list by placing the index in square brackets after the name of the list:

In [53]:
a_list = ['Hello', 'My', 'old', 'Friend']

print(a_list[0])
print(a_list[1])

# Length of list
print(len(a_list))

Hello
My
4

t accesses items starting from the end of the list (-1) going backward:

In [55]:
b_list = a_list
print(a_list[-1])
print(a_list[-2])


print(b_list[-1])
print(b_list[-2])

Friend
old
Friend
old

Supplying an index outside of a lists range will result in an IndexError:

In [56]:
print(a_list[6])

IndexError: list index out of range

## nested objects
If your list contains other indexed objects, you can supply additional indexes to get items contained within the nested objects:

In [58]:
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]

abc_list = []
print(abc_list)

abc_list.append(a)
print(abc_list)

[]
[[1, 2, 3]]

In [59]:
abc_list.append(b)
print(abc_list)

abc_list.append(c)
print(abc_list)

[[1, 2, 3], [4, 5, 6]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [66]:
# indexing
print(abc_list[0][0])

print(abc_list[2][2])

1
9

In [70]:
# slicing
print(abc_list[:])

print(abc_list[1:])

print(abc_list[1:2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[4, 5, 6], [7, 8, 9]]
[[4, 5, 6]]

In [71]:
# Slice the entire list but use step size 2 to get every other item:
another_list = abc_list[0:6:2]
print(another_list)

[[1, 2, 3], [7, 8, 9]]

In [72]:
another_list = ["Hello","my", "bestest", "old", "friend."]

In [75]:
print(another_list[:])

print(another_list[:-1])

['friend.', 'old', 'bestest', 'my', 'Hello']
['friend.', 'old', 'bestest', 'my']

In [76]:
slice1 = another_list[1:3]
print(slice1)

['old', 'bestest']

In [77]:
# Take a slice starting at index 4, backward to index 2

my_slice =  another_list[4:2:-1]
print(my_slice )

['Hello', 'my']

In [81]:
my_slice =  another_list[::-1] # This slice operation reverses the list
print(my_slice)

['Hello', 'New_addition', 'bestest', 'old', 'friend.']

In [82]:
print(another_list[:])
another_list[3] = "New_addition"
print(another_list[:])

['friend.', 'old', 'bestest', 'New_addition', 'Hello']
['friend.', 'old', 'bestest', 'New_addition', 'Hello']

In [87]:
another_list.append('Python')
another_list.append('Python1')
# del(another_list[3])
print(another_list[:])

['friend.', 'old', 'bestest', 'Python', 'Python1']

In [89]:
del(another_list[3])
another_list

['friend.', 'old', 'bestest']

In [92]:
another_list.append('Python')
another_list.append('Python1')

pop_item = another_list.pop()
print(another_list)
print(pop_item)

['friend.', 'old', 'bestest', 'Python', 'Python1', 'Python', 'Python']
Python1

## Copy
In the code above, we saw that we can slice an entire list using the [:] indexing operation. You can also copy a list using the list.copy() function:

In [96]:
List1 = [1,2,3]
print(List1)

list2 = List1.copy()
print(list2)

[1, 2, 3]
[1, 2, 3]

In [98]:
list2.append(4)
print(List1)
print(list2)

[1, 2, 3]
[1, 2, 3, 4]

## Shallow copies
As expected, the copy was not affected by the append operation we performed on the original list. The copy function (and slicing an entire list with [:]) creates what is known as a "shallow copy." A shallow copy makes a new list where each list element refers to the object at the same position (index) in the original list. This is fine when the list is contains immutable objects like ints, floats and strings, since they cannot change. Shallow copies can however, have undesired consequences when copying lists that contain mutable container objects, such as other lists.

Consider the following copy operation

In [99]:
list1 = [1,2,3]                        # Make a list
list2 = ["List within a list", list1]  # Nest it in another list

list3 = list2.copy() # shallow copy [address is shared ]

print("Before appending to list1:")
print("List2:", list2)
print("List3:", list3, "\n")

list1.append(4)                        # Add an item to list1
print("After appending to list1:")
print("List2:", list2)
print("List3:", list3)

Before appending to list1:
List2: ['List within a list', [1, 2, 3]]
List3: ['List within a list', [1, 2, 3]]

After appending to list1:
List2: ['List within a list', [1, 2, 3, 4]]
List3: ['List within a list', [1, 2, 3, 4]]

## deepcopy
Notice that when we use a shallow copy on list2, the second element of list2 and its copy both refer to list1. Thus, when we append a new value into list1, the second element of list2 and the copy, list3, both change. When you are working with nested lists, you have to make a "deepcopy" if you want to truly copy nested objects in the original to avoid this behavior of shallow copies.

You can make a deep copy using the deepcopy() function in the copy library:

In [101]:
import copy                            # Load the copy module

list1 = [1,2,3]                        # Make a list

list2 = ["List within a list", list1]  # Shallo copy : Nest it in another list

list3 = copy.deepcopy(list2)           # Deep copy list2

print("Before appending to list1:")
print("List2:", list2)
print("List3:", list3, "\n")

list1.append(4)                        # Add an item to list1
print("After appending to list1:")
print("List2:", list2)
print("List3:", list3)

Before appending to list1:
List2: ['List within a list', [1, 2, 3]]
List3: ['List within a list', [1, 2, 3]]

After appending to list1:
List2: ['List within a list', [1, 2, 3, 4]]
List3: ['List within a list', [1, 2, 3]]