<a href="https://colab.research.google.com/github/PraveenPrabhat125/Python-for-Data-Analyst/blob/main/Python_for_data_analyst_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Variables

In [2]:
x = 3
y = 6
name = "Data"
print(x)
print(y)
print(name)

3
6
Data

In [3]:
old = 4
print(old)

old = 5
print(old)

4
5

In [5]:
# You can assign the same object to multip;e variables with a multiple assignment statement.
m = n = 2
print(n)
print(m)

2
2

You can also assign several different variables at the same time using a comma separated sequence of variable names followed by the assignment operator and a comma separated sequence of values inside parentheses:

In [6]:
x, y, z = (1,2,3)
print(x)
print(y)
print(z)

1
2
3

### Note: Tuple unpacking
This method of extracting variables from a comma separated sequence is known as "tuple unpacking."

You can swap the values of two variables using a similar syntax:

In [7]:
a , b = (10,20)
print(a)
print(b)

10
20

In [8]:
(a,b) = (b, a)
print(a)
print(b)

20
10

In this case, x and y still both refer to the same original list, so both x and y have the same value, even though it may appear that the code only added the number 4 to list y.

In [11]:
x = [1,2,3]
print('Old x: ', x)
y = x # y have same memory address as of x tuple

y.append(4)
print('New x: ', x)
print('New y: ', y)

Old x:  [1, 2, 3]
New x:  [1, 2, 3, 4]
New y:  [1, 2, 3, 4]

In [18]:
x = [1,2,3]
print('Old x: ', x)
y = x # y,z have same memory address as of x tuple
z = y
y.append(4)
z.append(5)
print('New x: ', x)
print('New y: ', y)
print('New z: ', z)

Old x:  [1, 2, 3]
New x:  [1, 2, 3, 4, 5]
New y:  [1, 2, 3, 4, 5]
New z:  [1, 2, 3, 4, 5]

In [16]:
new = "Hello"
new_1 = new
print(new)
print(new_1.lower())
print(new_1)

Hello
hello
Hello