<a href="https://colab.research.google.com/github/PraveenPrabhat125/Python-for-Data-Analyst/blob/main/Python_for_data_analyst_dctionary_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Dictionaries and Sets

Sequence data types like lists, tuples and strings are ordered. Ordering can be useful in some cases, such as if your data is sorted or has some other natural sense of ordering, but it comes at a price. When you search through sequences like lists, your computer has to go through each element one at a time to find an object you're looking for.

Consider the following code:

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]

0 in my_list

False

When running the code above, Python has to search through the entire list, one item at a time before it returns that 0 is not in the list. This sequential searching isn't much of a concern with small lists like this one, but if you're working with data that contains thousands or millions of values, it can add up quickly.

Dictionaries and sets are unordered Python data structures that solve this issue using a technique called hashing. We won't go into the details of their implementation, but dictionaries and sets let you check whether they contain objects without having to search through each element one at a time, at the cost of having no order and using a bit more system memory.

## Dictionaries
A dictionary or dict is an object that maps a set of named indexes called keys to a set of corresponding values. Dictionaries are mutable, so you can add and remove keys and their associated values. A dictionary's keys must be immutable objects, such as ints, strings or tuples, but the values can be anything.

Create a dictionary with a comma-separated list of key: value pairs within curly braces:

In [ ]:
# my_list = [Nancy, Lucas, Dustin, Will.  Mike]
my_dict = {
    'name': 'Mike',
    'age': 12,
    'City': 'Paris'
}
print(my_dict)
type(my_dict)

{'name': 'Mike', 'age': 12, 'City': 'Paris'}

dict

In [ ]:
my_dict['name']

'Mike'

Add new items to an existing dictionary with the following syntax:

In [ ]:
my_dict['School'] = "Hawkins School"
my_dict

{'name': 'Mike', 'age': 12, 'City': 'Paris', 'School': 'Hawkins School'}

In [ ]:
my_dict['School2'] = "Hawkins School2"
my_dict

{'name': 'Mike',
 'age': 12,
 'City': 'Paris',
 'School': 'Hawkins School',
 'School2': 'Hawkins School2'}

In [ ]:
del my_dict['School2']
my_dict

{'name': 'Mike', 'age': 12, 'City': 'Paris', 'School': 'Hawkins School'}

In [ ]:
# LEngth
print(len(my_dict))

4

In [ ]:
'Mike' in my_dict

False

In [ ]:
'name' in my_dict

True

In [ ]:
my_dict['name'].keys() in my_dict

AttributeError: 'str' object has no attribute 'keys'

In [ ]:
my_dict['name'].values()

AttributeError: 'str' object has no attribute 'values'

In [ ]:
my_dict['name']

AttributeError: 'str' object has no attribute 'values'

### Keys : values

In [ ]:
values = my_dict.values()
keys = my_dict.keys()

print(values)
print(my_dict.values())


print(keys)
print(my_dict.keys())

print(my_dict.items())

dict_values(['Mike', 12, 'Paris', 'Hawkins School'])
dict_values(['Mike', 12, 'Paris', 'Hawkins School'])
dict_keys(['name', 'age', 'City', 'School'])
dict_keys(['name', 'age', 'City', 'School'])
dict_items([('name', 'Mike'), ('age', 12), ('City', 'Paris'), ('School', 'Hawkins School')])

In [ ]:
my_table_dict = {"name": ["Joe", "Bob", "Harry"],
                 "age": [10,15,20] ,
                 "city": ["Paris", "New York", "Tokyo"]}
my_table_dict

{'name': ['Joe', 'Bob', 'Harry'],
 'age': [10, 15, 20],
 'city': ['Paris', 'New York', 'Tokyo']}

In [ ]:
print(my_table_dict["name"][0])

print(my_table_dict["age"][0])

print(my_table_dict["city"][0])

print("Name: " + my_table_dict["name"][0] + ", Age: " + str(my_table_dict["age"][0] ))

Joe
10
Paris
Name: Joe, Age: 10

# Sets
Sets are unordered, mutable collections of immutable objects that cannot contain duplicates. Sets are useful for storing and performing operations on data where each value is unique. Create a set with a comma separated sequence of values within curly braces:

In [ ]:
my_set = {1,2,3,4,5,6,7}

type(my_set)

set

In [ ]:
my_set.add(8)

my_set

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
my_set.remove(7)

my_set

{1, 2, 3, 4, 5, 6, 8}

Sets do not support indexing, but they do support basic sequence functions like len(), min(), max() and sum(). You can also check membership and non-membership as usual with in:

In [ ]:
7 in my_set

False

One of the main purposes of sets is to perform set operations that compare or combine different sets. Python sets support many common mathematical set operations like union, intersection, difference and checking whether one set is a subset of another:

In [ ]:
set1 = {1,3,5,6}
set2 = {1,2,3,4}

set1.union(set2)          # Get the union of two sets

{1, 2, 3, 4, 5, 6}

In [ ]:
set1.intersection(set2)   # Get the intersection of two sets

{1, 3}

In [ ]:
set1.difference(set2)     # Get the difference between two sets

{5, 6}

In [ ]:
set1.issubset(set2)       # Check whether set1 is a subset of set2

False

You can convert a list into a set using the set() function. Converting a list to a set drops any duplicate elements in the list. This can be a useful way to strip unwanted duplicate items or count the number of unique elements in a list. I can also be useful to convert a list to a set if you plan to lookup items repeatedly, since membership lookups are faster with sets than lists.

In [ ]:
my_list = [1,2,2,2,3,3,4,5,5,5,6]

set(my_list)

{1, 2, 3, 4, 5, 6}