<a href="https://colab.research.google.com/github/PraveenPrabhat125/Python-for-Data-Analyst/blob/main/Python_for_data_analyst_tuple_%26_string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tuples
Tuples are an immutable sequence data type that are commonly used to hold short collections of related data. For instance, if you wanted to store latitude and longitude coordinates for cities, tuples might be a good choice, because the values are related and not likely to change. Like lists, tuples can store objects of different types.

Construct a tuple with a comma separated sequence of objects within parentheses:

In [ ]:
List = []
tuple = ()
dictionary  = {}

In [1]:
m_tuple = (1,2,4)
print(m_tuple)

(1, 2, 4)

Tuples generally support the same indexing and slicing operations as lists and they also support some of the same functions, with the caveat that tuples cannot be changed after they are created. This means we can do things like find the length, max or min of a tuple, but we can't append new values to them or remove values from them:

In [4]:
l1 = [1,2,3,4,'hello']

new_tuple = tuple(l1)
print(new_tuple)
print(type(l1))
print(type(new_tuple))

(1, 2, 3, 4, 'hello')
<class 'list'>
<class 'tuple'>

In [5]:
new_tuple[2]

3

In [6]:
new_tuple[2:]

(3, 4, 'hello')

In [9]:
pop_item = new_tuple.pop()
pop_itemm

AttributeError: 'tuple' object has no attribute 'pop'

### How to Remove an Element in a Tuple

Since tuples are immutable, you cannot directly remove an element from a tuple. However, you can create a new tuple that excludes the element you want to remove.

#### Steps to Remove an Element from a Tuple:

1. **Convert the Tuple to a List**: Lists are mutable, so you can remove elements from them.
2. **Remove the Element from the List**: Use list methods like `remove()` or slicing.
3. **Convert the List Back to a Tuple**: After removing the element, convert the list back to a tuple.

#### Example:
```python
# Original tuple
my_tuple = (1, 2, 3, 4, 5)

# Convert tuple to list
my_list = list(my_tuple)

# Remove element (e.g., remove 3)
my_list.remove(3)

# Convert list back to tuple
my_tuple = tuple(my_list)

print(my_tuple)  # Output: (1, 2, 4, 5)
```

#### Using Tuple Slicing:
You can also use slicing to create a new tuple without the unwanted element.

#### Example:
```python
# Original tuple
my_tuple = (1, 2, 3, 4, 5)

# Remove element by slicing (e.g., remove the element at index 2)
my_tuple = my_tuple[:2] + my_tuple[3:]

print(my_tuple)  # Output: (1, 2, 4, 5)
```

### Summary:
- **Convert to List**: Convert the tuple to a list, remove the element, then convert back to a tuple.
- **Tuple Slicing**: Use slicing to create a new tuple excluding the unwanted element.

These methods provide ways to "remove" an element from a tuple by creating a new modified tuple.

In [12]:
new_tuple
print(new_tuple)
# convert tuple to list
converted_list = list(new_tuple)

# new remove element from converted_list
poped_item = converted_list.pop()
print(poped_item)


# convert back list to tuple
new_tuple = tuple(converted_list)
print(new_tuple)

(1, 2, 3, 4, 'hello')
hello
(1, 2, 3, 4)

In [13]:
print(len(new_tuple))  # length
print(sum(new_tuple))  # sum
print(max(new_tuple))  # max
print(min(new_tuple))  # min
print(sum(new_tuple)/ len(new_tuple)) #Avg

4
10
4
1
2.5

No append and del works

In [14]:
new_tuple.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [15]:
new_tuple.append(11)

AttributeError: 'tuple' object has no attribute 'append'

In [16]:
del new_tuple[1]

TypeError: 'tuple' object doesn't support item deletion

## sort: Sorted()
You can sort the objects in tuple using the sorted() function, but doing so creates a new list containing the result rather than sorting the original tuple itself like the list.sort() function does with lists:

In [17]:
sorted(new_tuple)

[1, 2, 3, 4]

## shallow copy

In [18]:
list1 = [1,2,3]

tuple1 = ("Tuples are Immutable", list1)

tuple2 = tuple1[:]                       # Make a shallow copy

list1.append("But lists are mutable")

print( tuple2 )

('Tuples are Immutable', [1, 2, 3, 'But lists are mutable'])

## Deepcopy

In [19]:
import copy

list1 = [1,2,3]

tuple1 = ("Tuples are Immutable", list1)

tuple2 = copy.deepcopy(tuple1)           # Make a deep copy

list1.append("But lists are mutable")

print( tuple2 )

('Tuples are Immutable', [1, 2, 3])

# String

In [20]:
my_string = "Hello world"
type(my_string)

str

In [27]:
# sliceing
print(my_string[1:])

#indexing
print(my_string[1])

# reverse string
print(my_string[::-1])

# length of string
print(len(my_string))

# count of o
print(my_string.count('o'))

# lower/ upper
print(my_string.lower())

# title
print(my_string.title())

ello world
e
dlrow olleH
11
2
hello world
Hello World

## Find

the index of the first appearing substring within a string using str.find(). If the substring does not appear, find() returns -1:

In [30]:
# if found return first occurance
print(my_string.find('o'))


# if not found return -1
print(my_string.find('z'))

print(my_string.find('O'))

4
-1
-1

Notice that since strings are immutable, we never actually changed the original value of my_string with any of the code above, but instead generated new strings that were printed to the console. This means "W" does not exist in my_string even though our call to str.title() produced the output 'Hello World'. The original lowercase "w" still exists at index position 6:

In [39]:
# Replace
my_string.replace("world",    # Substring to replace
                  "friend")   # New substring
print(my_string)
# my_string.replace("world" ,"Friend")
# my_string

# my_string.replace('Hello', 'Dear')
# print(my_string)

Hello world

In [42]:
my_string1 = "hi hello"
print(my_string1)

my_string1.replace('hi', 'guys')
print(my_string1)

hi hello
hi hello

In [43]:
my_string.split()     # str.split() splits on spaces by default

['Hello', 'world']

In [44]:
my_string.split("l")  # Supply a substring to split on other values

['He', '', 'o wor', 'd']

In [45]:
multiline_string = """I am
a multiline
string!
"""

multiline_string.splitlines()

['I am', 'a multiline ', 'string!']

In [46]:
# str.strip() removes whitespace by default

"    strip white space!   ".strip()

'strip white space!'

In [47]:
"xXxxBuyNOWxxXx".strip("xX")

'BuyNOW'

## join():
Convert the a list of strings into a single string separated by a given delimiter with str.join():

In [48]:
" ".join(["Hello", "World!", "Join", "Me!"])

'Hello World! Join Me!'

In [49]:
name = "Joe"
age = 10
city = "Paris"

"My name is " + name + " I am " + str(age) + " and I live in " + "Paris"

'My name is Joe I am 10 and I live in Paris'

# str.format()
For complex string operations of this sort is preferable to use the str.format() function or formatted strings. str.format() takes in a template string with curly braces as placeholders for values you provide to the function as the arguments. The arguments are then filled into the appropriate placeholders in the string:

In [50]:
template_string = "My name is {} I am {} and I live in {}"
template_string.format(name, age, city)

'My name is Joe I am 10 and I live in Paris'

In [54]:
name = "Will"
age = 32
city = "Paris"
template_string.format(name, age, city)

'My name is Will I am 32 and I live in Paris'

# Formatted strings or f-strings
Formatted strings or f-strings for short are an alternative, relatively new (as of Python version 3.6) method for string formatting. F-strings are strings prefixed with "f" (or "F") that allow you to insert existing variables into string by name by placing them within curly braces:

In [56]:
formated_string = f"My Name is {name} I am {age} And i Live in {city}"
formated_string

'My Name is Will I am 32 And i Live in Paris'